<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <style>
       footer {
          text-align : center;
          background-color: lightcoral;
          color: #ffffff;
          height: 160px;
        }
        footer .w1200 {    
          min-height: 100px;
          display: flex;
          flex-direction: column-reverse;
          justify-content: flex-end; /* 하단 정렬 */
          padding-bottom: 10px;
        }
        .w1200 {
          width: 100%;
          margin: auto;
       }
        
    </style>
  </head>
  <body>
    <footer>
      <div class = "w1200">
        <div style="font-size: 0.75rem;">
            <span>item1</span> |
            <span>item2</span> |
            <span>item3</span>
        </div>
        <div>
            <h4>4조참치</h4>
        </div>
      </div>
    </footer>

  </body>
</html>