<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <style>

      header {

        background-color: teal;
        color: #ffffff;
        height: 10rem;
        width : 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px; 
        border-bottom: 1px solid var(--color-light-gray);
        position: fixed;
      }  
      .w1200 {
        width: 1200px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <header>  
      <div class = 'w1200'>
        <div>
            <h1>수온에 따른 어획량 데이터분석</h1>
        </div>
        <div>
            <span>nav1</span>
            <span>nav2</span>
            <span>nav3</span>
            <span>nav4</span>
        </div>
      </div>      
    </header>
  </body>
</html>